
/***********************************************************
  Genesis Zine
  A Genesis subtheme by AdaptiveThemes.com
************************************************************/

/**
 * Remove unused styles for performace.
 * GZine unused styles have been left in place to help you
 * learn and more easily modify this theme.
 */

/***********************************************************
 *                          Body
 **********************************************************/
body {color: #222; background: #979797; margin:0.6667em 0.6667em 0;}

/**
 * Adjust body margins for the Admin menu module 
 */
body.admin-menu,
body.page-admin-build-block {margin-top: 32px!important;}


/***********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
 * Be careful how you modify these, see layout.css first!
 */
#container {}
#columns   {margin: 0.25em 0 0 0; background: #EEE;}
#content   {}
#main-content  {}
#content-inner {padding: 0.6667em;}


/***********************************************************
 *                     Width Setting
 **********************************************************/
/**
 * Over ride the default width (81.67em - see layout.css).
 * 81.67 * 12 = 980px
 *
 * Genesis supports both Fluid and Fixed width values.
 *
 * For a Liquid layout use precentages, e.g
 * .width {width: 100%;}
 *
 * For Fixed width theme, use ems or pixels, e.g
 * .width {width: 980px;}
 * .width {width: 81.67em;}
 * 
 */
.width {width: 1000px;} /* Be careful with % on this theme, the header
                           background will break at widths 
												   over 1600px & under 650px; you could set 
												   min-width & max-width values. */

/***********************************************************
 *                 G Zine Layout Over-ride
 **********************************************************/
/** 
 * Genesis Zine over rides the default genesis_5 sidebar widths
 * (makes them wider). By placing the layout CSS here we automatically
 * over ride the defaults in layout.css
 */
#genesis_5 .two-sidebars  #content-inner {margin-right: 45em}
#genesis_5 .sidebar-left  #content-inner {margin-right: 18.33em}
#genesis_5 .sidebar-right #content-inner {margin-right: 26.67em}

#genesis_5 #sidebar-left  {float: left; width: 18.33em; margin-left: -45em}
#genesis_5 #sidebar-right {float: left; width: 26.67em; margin-left: -26.67em}

#genesis_5 .sidebar-left #sidebar-left { float:left; width: 17.5em; margin-left: -18.33em}


/***********************************************************
 *                       Regions
 **********************************************************/
#leaderboard       {background: transparent; text-align: center;}
#header-blocks     {}
#sidebar-left      {}
#sidebar-right     {}
#secondary-content, 
#tertiary-content  {background: #EEE; margin-top: 0.17em;}
#content-top       {}
#content-bottom    {}
#footer            {}


/***********************************************************
 *                   The INNER divs
 **********************************************************/
/**
 * In most instances you'll use these to set padding for 
 * the containing element.
 *
 * The default (see layout.css)
 * .inner {padding: 0.7em;}
 *
 * NOTE: You can over-ride the default .inner for nodes, blocks,
 * and comments using div.node-inner, div.block-inner & 
 * div.comment-inner  which are listed in their relevant sections.
 */
#header .inner        {padding: 0}
#navigation .inner    {padding: 0}
.block-inner          {padding: 0.6667em}
#content-inner        {padding: 0.6667em}
#sidebar-left .inner  {padding: 0.6667em 0.6667em 0 0}
#sidebar-right .inner {padding: 0.6667em 0.6667em 0 0}
.sidebar-left #sidebar-left .inner   {padding: 0.6667em 0 0 0}
.sidebar-right #sidebar-right .inner {padding: 0.6667em 0.6667em 0 0}
#secondary-content .inner, 
#tertiary-content .inner {padding: 0.6667em}


/***********************************************************
 *         G Zine Section styles for #main-content
 **********************************************************/
/**
 * To support the block style theme 
 */
.section-comment #main-content,
.node-full-view #main-content {
  background: #fff; 
	 padding: 0 0.6667em; 
	 border: 1px solid #C0C0C0;
	 margin-bottom: 0.6667em;
}
.section-node-add #main-content, 
.section-node-edit #main-content, 
.section-node-delete #main-content {
  background: #fff; 
	 padding: 0.6667em; 
	 border: 1px solid #C0C0C0;
	 margin-bottom: 0.6667em;
}
.section-user #main-content {
  background: #fff; 
	 padding: 0.6667em; 
	 border: 1px solid #C0C0C0;
	 margin-bottom: 0.6667em;
}

/***********************************************************
 *                 Default Link Styles
 **********************************************************/
a:link,
a:visited {color: #2B74B4;}
a:hover,
a:focus,
a:active  {color: #2B74B4;}


/***********************************************************
 *                    HTML elements 
 **********************************************************/
/** 
 * Add any html elements you require. Use base.css as a guide.
 */
h1#page-title {margin:0.5em 0 0.625em;}
/** 
* Indent new paragraphs and remove p margin bottom - an alternative
  style for paragraphs. Uncomment to use. */
/*p + p {text-indent: 1em; margin-top: -1.5em;}
form p + p  {text-indent: 0; margin-top: 0;}*/ /* Not for forms. */


/***********************************************************
 *                       Header 
 **********************************************************/
/**
 * Branding, Logo, Site name & Slogan.
 */
#header, #header .inner {height: 6.67em;}
/* header bg is a sliding door, to support fluid widths (up to around 1600px) */
#header        {background: url(images/header-bg-right.png) no-repeat right top;}
#header .inner {background: url(images/header-bg-left.png) no-repeat left top;}

/* Its likely you'll need to adjust these for your logo and site name */
#branding      {width: auto; float: left; /* RTL */}
#logo, 
#site-name     {float: left; /* RTL */}
#logo          {margin: 0.42em 0 0 1.25em; /* RTL */}

h1#site-name,
div#site-name     {
  margin: 0.375em 0 0 0.375em; /* RTL */
  font-size: 3em;
		font-weight: bold;
		line-height:1;
} 
#site-name a   {
		font-family: Georgia, "Times New Roman", Times, serif;
		font-style: italic; /* RTL */
		color: #B1C3E1;
		text-decoration: none;
}
#site-slogan   {
  color: #FFF; 
		clear: left; /* RTL */
		margin: 0 0 0 1em; /* RTL */
		font-size: 1em; 
		font-weight: bold; 
		font-style: italic; /* RTL */
}


/***********************************************************
 *                       Search 
 **********************************************************/
#search .form-submit  {font-size: 0.9em; padding: 0;}
#search-box-top       {height: 2.9em; background: url(images/search-bg-tile-grad.png) repeat-x top left;}
#search-box-inner     {width: 36.7em; margin: 0 auto; padding-top: 0.17em; text-align: center;}
#search-box-inner #edit-search-theme-form-1 {width: 28.33em;}
#search-box-top label {display: none;}
#search-box-top form,
#search-box-top div.form-item {margin: 0;}

/* Search Results Page - see .box */
.section-search #search-form {background: #FFF; border: 1px solid #C0C0C0;}
.section-search #search-form {padding: 0 0.6667em;}
	 
	 
/***********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 */

/**
 * #nav is the containing div for Primary & Secondary Links.
 */
#nav       {clear: both;}
#nav-inner {}


/**
 * Primary Links Positioning
 *
 * Default is aligned left - uncomment either of these
 * to set the primary links Right or Center.
 */
/* Align Right */
/*
#primary .primary-inner {float: right;}
*/
/* Align Center */
/*
#primary .primary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
 * Primary Links Styles
 */
#primary { 
	 padding: 0;
	 background: #2B74B4;
}

.primary-inner {}

/* Modify the margin to positing the menu. */
#primary ul.links {
 	margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary ul.links li {
		display: inline;
		list-style: none;
		line-height: 2;
		padding: 0;
		margin: 0 -0.26em 0 0;
}
#primary ul.links li a:link,
#primary ul.links li a:visited {
		background: #2B74B4;
		text-decoration: none;
		white-space: nowrap;
		color: #FFF;
		font-weight: bold;
  padding: 0.36em 1em;
}
#primary ul.links li a:hover,
#primary ul.links li a.active,
#primary ul.links li a.active-trail {background: #234B69; padding:0.4em 1em 0.42em;}
 

/**
 * Secondary Links Positioning
 *
 * Default is aligned left - uncomment either of these
 * to set the secondary links Right or Center.
 */
/* Align Right */
/*
#secondary .secondary-inner {float: right;}
*/
/* Align Center */
/*
#secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
 * Secondary Links Styles
 */
#secondary { 
	 padding: 0;
	 border-bottom: none;
	 background: #234B69;
}

.secondary-inner {}

/* Modify the margin to positing the menu. */
#secondary ul.links {
 	margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary ul.links li {
		display: inline;
		list-style: none;
		line-height: 2;
		padding: 0;
		margin: 0 1em;
}
#secondary ul.links li a:link,
#secondary ul.links li a:visited {
		background: #234B69;
		text-decoration: none;
		white-space: nowrap;
		color: #FFF;
		font-weight: bold;
}
#secondary ul.links li a:hover,
#secondary ul.links li a.active,
#secondary ul.links li a.active-trail {background: #234B69; text-decoration: underline;}


/***********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand in to.
 */
#breadcrumb {
  margin: 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: #B1C3E1;
	 height: 1.5em;
}
.breadcrumb {
  margin: 0 5px 0 13px; /* RTL */
  padding-bottom: 0.3em;
  font-size: 0.9em;
}


/***********************************************************
 *                       Mission
 **********************************************************/
#mission { 
  background: #2B74B4;
		color: #FFF;
		font-weight: bold;
		border: 2px solid #B1C3E1;
		padding: 0.375em;
		margin-bottom: 0.6667em;
}


/***********************************************************
 *                        Nodes
 **********************************************************/
/** 
 * Implimentation of node styles.
 */
.node {margin: 0 0 0.75em 0; padding: 0;background: #FFF;}
.node h2.node-title {}
.node h2 a:link,
.node h2 a:visited,
.node h2 a:active {text-decoration: none;}
.node h2 a:hover  {text-decoration: underline;}
.node div.picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}
.node div.submitted {margin: 0;}
.node .node-content {}
.node ul.links {
  text-align: right;
  display: block; 
  font-size: 0.95em;
}
.node-teaser {
  margin: 0 0 0.75em 0;
  padding: 0 0 0.75em 0;
	 background: #FFF;
	 border: 1px solid #C0C0C0;
}
.node-teaser .node-inner {
  padding: 0.6667em;
}

/**
 * Theme Sticky nodes
 */
.sticky {}

/**
 * Theme node types
 * Use these to get started theming specific node types.
 */
.node-type-blog  {}
.node-type-page  {}
.node-type-story {}
.node-type-forum {}
.node-type-book  {} 
 
/**
 * Theme nodes that belong to the author.
 */
.node-mine {}


/***********************************************************
 *                       Blocks
 **********************************************************/
/** 
 * Implimentation of block styles.
 * Styles set here will be inherited by all blocks.
 */
.block {
  padding: 0;
  margin: 0 0 0.75em 0;
  clear: both;
	 background: #FFFFFF;
	 border: 1px solid #C0C0C0;
}
.block-inner {}
.block h2.block-title {margin: 0 0.5em 0 0; /* RTL */}
.block .block-content {padding: 0;}
.block ul.menu  {
  margin-left: 0; /* RTL */
}
.block ul.menu li {
  list-style: none;
  background:#FFFFFF url(images/star-bullet.png) no-repeat scroll left top; /* RTL */
  margin:0;
  padding:0 0 0.1875em 1.6em; /* RTL */
}
tr .block {border: none; } /* blocks page table */


/**
 * Region Specific block styles
 *
 * You can target blocks in one or more regions and 
 * style them differently. 
 *
 * Use the first two examples as guide for all regions. 
 */
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {padding: 0.75em;}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {padding: 0.75em;}
#sidebar-right .block .block-content {}

/* Block config dependant settings */

.sidebar-left #sidebar-left .block h2,
.sidebar-right #sidebar-right .block h2 {padding: 0 0.5em}

.sidebar-left #sidebar-left .block .block-content,
.sidebar-right #sidebar-right .block .block-content {padding: 0 .75em}

/**
 * Leaderboard block
 * For displaying a 728x90 banner
 */
#leaderboard .block {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
#leaderboard .block .content {padding: 0;}
 

/**
 * Header blocks
 * For displaying a standard 468x60 banner
 */
#header-blocks .block {
  float: right;
	 width: 468px;
	 height: 60px;
  background: none;
  border: none;
  clear: none;
  margin: -0.17em 1.42em 0 0;
  padding: 0;
}
#header-blocks .block-inner {
  background: none;
}

#secondary-content .block, 
#tertiary-content .block {margin: 0; padding: 0;}

#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
 * Block Odd & Even Styles (Zebra)
 * Each region can have alternating styles for Odd and Even 
 * count blocks, such as;
 */
#sidebar-left .odd   {}
#sidebar-left .even  {}

#sidebar-right .odd  {}
#sidebar-right .even {}

/**
 * Alternative Approach to Region Block Styling
 *
 * Blocks are aware of what region they are in, so its
 * possible to use chained selectors such as;
 *
 * .block.odd.right {}
 */

/**
 * Drupal Core blocks 
 * This is most of the core blocks as far as I can remember, 
 * please post an issue if I have missed any :)
 */
#block-system-0  {} /* Powered by Drupal block */
 
#block-user-0       {} /* Login block */
#block-user-0 ul li {background: none;}

#block-user-1    {} /* Navigation Menu block */
#block-user-2    {} /* Who's New block */
#block-user-3    {} /* Who's Online block */

#block-comment-0 {} /* Recent Comments block */

#block-search-0  {} /* Search form block */

#block-forum-0   {} /* Active Forum topics */
#block-forum-1   {} /* New Forum topics */

#block-blog-0    {} /* Recent Blog posts */

#block-node-0    {} /* Syndicate block */

#block-locale-0  {} /* Language Switcher block */

/**
 * The class selector applies to all blocks of these types.
 */
.block-book {} 
.block-aggregator {}


/***********************************************************
 *                     Comments
 **********************************************************/
/** 
 * Implimentation of comment styles. See .box also.
 */
h2#comments-title {margin-bottom: 0.6em;} /* comment wrapper title, weird margin bottom... */
div.comment  {padding: 0.6667em; margin: 0 0 0.6667em 0;}
div.indented {margin-left: 3em;}
div.comment h3.comment-title {}
h3#comment-number {}
div.comment h3.title a:link,
div.comment h3.title a:visited,
div.comment h3.title a:active {text-decoration: none;}
div.comment h3.title a:hover {text-decoration: underline;}
div.comment .picture {float: right; margin: 0.3em 0 0.1em 0.3em;}
div.comment .picture img {border: 1px solid #000; padding: 0;}
div.comment .submitted {}
div.comment .comment-content {}
div.comment .links {font-size: 0.95em; text-align: right; clear: both;}
/**
 * Zebra styles for comments.
 */
div.comment.odd  {background: #f7f7f7; border: 1px solid #CCC;}
div.comment.even {background: #EEEEEE; border: 1px solid #CCC;}
/**
 * Style comments depending on the comment author.
 */
div.comment.comment-by-author {background: #B1C3E1; border: 1px solid #666;}
div.comment.comment-by-anon   {}
div.comment.comment-mine      {}


/***********************************************************
 *                     Forum
 **********************************************************/
#forum table {}
#forum tr td.forum {}
#forum div.indent  {}


/***********************************************************
 *                     Books
 **********************************************************/
/** 
 * Book navigation styles to get you started.
 */
.book-navigation {}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}


/***********************************************************
 *                    Polls
 **********************************************************/
.poll .text {}
.poll .bar {
  background-color: #EEE;
}
.poll .bar .foreground {
  background-color: #2B74B4;
}
.poll .links   {}
.poll .percent {font-size: 0.9em;}
.poll .total   {}
.poll .vote-form {}


/***********************************************************
 *                    Lists
 **********************************************************/
/** 
 * Global list styles
 */
ul.menu li, .item-list ul li      {margin: 0; padding: 0;}
ul.menu li ul                     {margin-bottom: 0;}
/*.block ul, ul.menu, .item-list ul {}*/
ul li, ul.menu li, .item-list ul li, li.leaf {
  list-style-image: none;
  list-style: square;
	 color: #B1C3E1;
}
ul li.expanded,
ul li.collapsed {list-style-image: none; list-style: square;}
ol li {list-style: decimal;}


/***********************************************************
 *                    Box
 **********************************************************/
/* Search form on the results page, includes advanced search*/
.section-search .box {background: #FFF; border: 1px solid #C0C0C0;}
.section-search .box-inner {padding: 0.6667em;}
.section-search .box h2.box-title {margin-bottom: 1em;}

/* Comment form on a seperate page */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box h2.box-title    {}

/* Comment form below content */
#comments .box {}
#comments .box-inner {}
#comments .box h2.box-title    {}

/* Generic box selectors */
.box {}
.box-inner {}
.box h2.box-title {}
.box .box-content {}
.box form         {}
.box .form-item   {}
.box fieldset     {}


/***********************************************************
 *               Footer, Footer Message
 **********************************************************/
#foot-wrapper { 
  text-align: center;
		color: #FFF;
		background: #000;
		margin: 0.25em 0;
		padding: 0.6667em;
}
#footer a, 
#footer-message a {color: #FFF; padding: 0.42em;}

#footer .block {padding: 0.375em; border: none; margin:0;}
#footer .block,
#footer .block-inner,
#footer .block .content {background: transparent;}
#footer div.block ul.menu {}
#footer div.block ul.menu li.leaf {list-style: none; display: inline; padding: 0.5em 1.5em;}

/**
 * Attribution link
 */
p.attribution {margin: 0.2em 0; font-size: 0.9em;}
#footer-message p.attribution a {color: #585858;}
#footer-message p.attribution a:hover {color: #666;}


/***********************************************************
 *                     Pager 
 **********************************************************/
.item-list ul.pager                   {}
.item-list ul.pager li                {}
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}

.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {text-decoration: underline;}
.item-list ul.pager li a:active  {}
.item-list ul.pager li a.active  {}


/***********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icon     {margin: 0.35em 0 0.17em 0;}
#feed-icon img {}
#feed-icon a.feed-icon {}


/***********************************************************
 *                    Tables
 **********************************************************/
/** 
 * The selector groupings are from Garland which offers a
 * sensible starting point for styling Drupal tables.
 * Firebug will help determine how to use these.
 */
table        {}

table a      {}

thead th     {border-color: #B1C3E1;}

th a:link, 
th a:visited {}

td, th       {}

tr.even,
tr.odd,
tbody th     {border-color: #B1C3E1;}

tr.odd, 
tr.info      {background: #F1F4FA;}

tr.even      {}

tr.drag      {}

tr.drag-previous {}

tr.odd td.active  {background: #DFE7F2;}

tr.even td.active {background: #E6EBF7;}

td.region, td.module, td.container td.category {
  border-bottom: 1px solid #2B74B4;
  background-color: #B1C3E1;
  color: #000;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {}


/***********************************************************
 *                   Form elements
 **********************************************************/
/**
 * Theming form elements can be an exercise in self-flagellation.
 * Lets let base.css & Drupal do the hard work and just set very 
 * basic over-rides.
 */
fieldset {}
 
fieldset legend {}

html.js fieldset.collapsible legend a {}
html.js fieldset.collapsed legend a   {}

.tips {}


/***********************************************************
 *                    Messages
 **********************************************************/
/**
 * Drupal + base.css do a pretty good job of this already, but
 * you can over-ride all of it. See the Genesis Darkmatter theme
 * as an exmaple. 
 */
div.messages.success {}

.status {}

.error    {}
div.error {}

.notice {}

div.help    {}
.help ul li {}

.warning    {}
div.warning, 
tr.warning  {}
div.warning {}

div.error, tr.error, 
span.form-required, 
span.marker {}

.ok    {}
div.ok {}
div.ok, tr.ok {}


/***********************************************************
 *                     Admin
 **********************************************************/
/**
 * body class to target most admin pages.
 */
.section-admin #content,
.section-admin #columns {background: #FFF;}
.section-admin #content-inner {background: #FFF; padding-right: 0.6667em;}

/**
 * Module page specific styles.
 */
div.admin-dependencies, 
div.admin-required {}
span.admin-enabled {}
span.admin-disabled {}

/**
 * The yellow region notices on the block admin page.
 */
.block-region {}

/* Experimental workaround for the theme list page for narrow themes.
   When both sidebars are active, the left sidebar overlaps the theme list table,
			this forces the sidebars to be a set hight with scroll */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {
  height: 240px; overflow: scroll;
}


/***********************************************************
 *                   Buttons
 **********************************************************/
/** 
 * Style form submit buttons.
 */
button, 
.pushbutton, 
.form-submit {}

button:hover, 
.pushbutton:hover, 
.form-submit:hover {}