
/**
	* @file
	* ie.css
	*
	* Internet Explorer hacks and work-arounds.
	*/

/**
 * Add your IE hacks and work-arounds here.
	*/
	
/* inner div overrides, IE6 cant handle 0.7em */
.block-inner          {_padding: 0.375em}
#content-inner        {_padding: 0.375em}
#sidebar-left .inner  {_padding: 0.375em 0.35em 0 0}
#sidebar-right .inner {_padding: 0.375em 0.35em 0 0}
.sidebar-left #sidebar-left .inner  {_padding: 0.375em 0.375em 0 0}
.sidebar-right #sidebar-right .inner {_padding: 0.375em 0.375em 0 0}
#secondary-content .inner, 
#tertiary-content .inner {_padding: 0.375em}
/* Set up some styles for main-content to support the block style theme */
.node-full-view #main-content {_padding: 0.375em; }
/* margin adjust for the header blocks banner */
#header-blocks .block {display: inline;_margin: 0 0.375em 0 0;}
/*scrub off some margin bottom for IE6 */
.node, .block, #mission {_margin-bottom: 0.375em;}
#search-box-top  {}
/* 7 years on we're still writing this crap */
.block h2       {_margin-left: 0.375em;}
.block-inner    {_background: #FFF;}
.block .content {_padding: 0.375em 0.375em 0 0.375em;_background: #FFF;}
.block form, .block .form-item,
.block ul, ul.menu, .item-list ul {margin: 0 1em 0 1.6em;_background: #FFF; _padding-bottom: 0;}




/**
 * DONT TOUCH BELOW
	*/
/* Prevent unnessary scrollbars */
#container {overflow-y: hidden;}
/* Trigger hasLayout */
#columns {zoom: 1;}
/* Fix incorrect styling of legend in IE6 */
* html legend {margin:-18px -8px 16px 0; padding:0;}
/* Fix ol numbers */
ol {margin-left:2em;}
/* Fix wrong line-height */
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
/* Fix IE7 code elements */
html>body p code {*white-space: normal;}
/* Set proper horizontal rule margins */
hr {margin: -8px auto 11px;}
/* Tabs CSS fixes for IE */
ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {_display: inline;_di\splay: inline-block; cursor: pointer;}
ul.primary,
ul.secondary {_width: 100%;_w\idth: auto;}